@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource/roboto-mono";

@theme {
    --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
    --font-primary: "Inter Variable", sans-serif;
    --font-mono: "Roboto Mono", monospace;

    --color-bg: #ffffff;
    --color-text-primary: #111111;
    --color-text-secondary: #555555;
    --color-text-muted: #6d6d6d;
    --color-accent: #a8e765;
    --color-tag-bg: #f6f6f6;
    --color-border: #e5e5e5;
}

.dark {
    --color-bg: #1a1a1a;
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #aaaaaa;
    --color-text-muted: #888888;
    --color-accent: #a8e765;
    --color-tag-bg: #2a2a2a;
    --color-border: #333333;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
}
